html,
body {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 1800px;
  height: 1500px;
  background-color: #1d2c3f;
  font-family: Montserrat;
}
.container .menu {
  border-radius: 8px;
  background-color: #e9342c;
  width: 80px;
  height: 320px;
  float: left;
  margin-left: 100px;
  margin-top: 80px;
  margin-right: 40px;
}
.container .menu table {
  border-collapse: collapse;
  padding-right: 40px;
}
.container .menu td {
  width: 80px;
  height: 80px;
  text-align: center;
  vertical-align: middle;
}
.container .tomato {
  border-radius: 8px;
  background-color: #f8f9fa;
  width: 576px;
  height: 320px;
  float: left;
  margin-top: 80px;
  margin-right: 40px;
  text-align: left;
}
.container .tomato .fresh {
  width: 256px;
  height: 255px;
  float: right;
  padding-top: 34px;
  padding-right: 45px;
}
.container .tomato h3 {
  color: #4e4f53;
  font-size: 24px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  padding-left: 40px;
}
.container .tomato p {
  line-height: 18px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
  padding-left: 40px;
}
.container .tomato .p_pasta {
  color: #8bc058;
  font-size: 12px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  padding-top: 40px;
}
.container .tomato .p_mins_count {
  color: #7f8187;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
}
.container .tomato .p_mins_text {
  color: #d8dbdd;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
}
.container .tomato input[type="button"] {
  border-radius: 4px;
  background-color: #8bc058;
  width: 94px;
  height: 32px;
  border-style: hidden;
  position: relative;
  left: 40px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 18px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}
.container .ingredients {
  text-align: center;
  border-radius: 8px;
  background-image: url("image/Ingredients.jpg");
  width: 244px;
  height: 320px;
  float: left;
  margin-top: 80px;
  margin-right: 40px;
}
.container .small_calendar {
  background-image: url("image/Monday.jpg");
  width: 246px;
  height: 478px;
  float: left;
  margin-top: 80px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.container .big_calendar {
  background-color: #0f1722;
  width: 334px;
  height: 478px;
  float: left;
  margin-top: 80px;
  margin-right: 100px;
  margin-bottom: 40px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.container .my_friday_meal {
  border-radius: 8px;
  background: -webkit-linear-gradient(-35deg, #ecc30a 0%, #e8ac1e 100%);
  background: -moz-linear-gradient(-35deg, #ecc30a 0%, #e8ac1e 100%);
  background: -o-linear-gradient(-35deg, #ecc30a 0%, #e8ac1e 100%);
  background: -ms-linear-gradient(-35deg, #ecc30a 0%, #e8ac1e 100%);
  background: linear-gradient(125deg, #ecc30a 0%, #e8ac1e 100%);
  width: 470px;
  height: 320px;
  float: left;
  margin-left: 100px;
  margin-right: 40px;
  position: relative;
  top: -164px;
}
.container .my_friday_meal h3 {
  color: #ffffff;
  font-size: 24px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
  padding-left: 40px;
}
.container .my_friday_meal input[radio] {
  font-family: Montserrat;
  color: #ffffff;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 24px;
  /* Приближение из-за подстановки шрифтов */
  text-align: left;
}
.container .mistery_box {
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  background-image: url("image/Mystery%20Box%20Burger.jpg");
  width: 470px;
  height: 481px;
  float: left;
  margin-right: 40px;
  position: relative;
  top: -164px;
}
.container .mistery_box h3 {
  color: #ffffff;
  font-size: 24px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
  padding-left: 40px;
  height: 10px;
}
.container .mistery_box p {
  color: #c6ddee;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: left;
  padding-left: 40px;
}
.container .mistery_box .time {
  color: #bcec90;
  font-size: 16px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: left;
}
.container .step {
  background-color: #f8f9fa;
  width: 470px;
  height: 109px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  clear: both;
  position: relative;
  top: -164px;
  left: 610px;
}
.container .step .five {
  width: 50px;
  height: 50px;
  border: 2px solid;
  border-radius: 35px;
  border-color: #8bc058;
  top: -8px;
  left: 24px;
}
.container .step .five span {
  width: 20px;
  height: 20px;
  display: inline-block;
  color: #8bc058;
  font-size: 30px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  vertical-align: middle;
  margin: 12px 12px 12px 16px;
}
.container .step div {
  width: 269px;
  height: 38px;
  color: #7f8187;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 24px;
  /* Приближение из-за подстановки шрифтов */
  text-align: justify;
  position: relative;
  left: 100px;
  top: 20px;
}
.container .shopping_list {
  border-radius: 8px;
  background-color: white;
  width: 580px;
  height: 427px;
  float: left;
}
.container .shopping_list h3 {
  color: #4e4f53;
  font-size: 24px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  padding-left: 40px;
}
.container .shopping_list .shop_table {
  padding-left: 40px;
}
.container .shopping_list table {
  border-collapse: collapse;
}
.container .shopping_list td {
  width: 80px;
  height: 55px;
}
.container .shopping_list img {
  width: 80px;
  height: 55px;
}
.container .shopping_list .border_t {
  border-bottom: solid 1px lightgray;
}
.container .flavour {
  border-radius: 8px;
  background-image: url("image/New%20Flavour.jpg");
  width: 470px;
  height: 573px;
  float: left;
  margin-left: 100px;
  position: relative;
  bottom: 394px;
  text-align: center;
  padding-top: 40px;
}
.container .flavour input[type="button"] {
  border-radius: 4px;
  border-style: hidden;
  background-color: #478cba;
  width: 113px;
  height: 32px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 18px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
  position: relative;
  top: 310px;
}
.container .summer_drinks {
  border-radius: 8px;
  background-image: url("image/Summer%20Drinks.jpg");
  width: 1090px;
  height: 343px;
  float: left;
  margin-left: 40px;
  position: relative;
  bottom: 124px;
  text-align: right;
}
.container .summer_drinks div {
  width: 450px;
  height: 100px;
  text-align: left;
  position: relative;
  left: 650px;
  top: 80px;
}
.container .summer_drinks .p_small_grey {
  color: #c2c2c4;
  font-size: 12px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  margin-bottom: 0px;
}
.container .summer_drinks h3 {
  color: #4e4f53;
  font-size: 24px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  margin-top: 7px;
}
.container .summer_drinks input[type="button"] {
  border-radius: 4px;
  background-color: #8bc058;
  width: 94px;
  height: 32px;
  border-style: hidden;
  position: relative;
  left: -345px;
  top: 120px;
  font-family: Montserrat;
  color: #ffffff;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 18px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}
h5 {
  color: #7f8187;
  font-size: 14px;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  line-height: 24px;
  /* Приближение из-за подстановки шрифтов */
  text-align: center;
}
